In [1]:
import os
from pathlib import Path

paths = sorted(Path('../CSV').iterdir(), key=os.path.getmtime)
paths

[WindowsPath('../CSV/January-2024.csv'),
 WindowsPath('../CSV/February-2024.csv'),
 WindowsPath('../CSV/March-2024.csv'),
 WindowsPath('../CSV/April-2024.csv')]

In [2]:
import pandas as pd

df = pd.read_csv(paths[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      62 non-null     object
 1   Reason    62 non-null     object
 2   Category  62 non-null     object
 3   Amount    62 non-null     float64
dtypes: float64(1), object(3)
memory usage: 2.1+ KB

# testing model

In [1]:
import pandas as pd
data = pd.read_csv('C:/Users/omkar/OneDrive/Documents/Finances/2024/CSV/January-2024.csv')

In [2]:
# from huggingface_hub import snapshot_download
# snapshot_download(repo_id="google/flan-t5-small",cache_dir="./.cache")

In [3]:
from transformers import T5Tokenizer, T5ForConditionalGeneration

tokenizer = T5Tokenizer.from_pretrained("google/flan-t5-small",cache_dir="./.cache")
model = T5ForConditionalGeneration.from_pretrained("google/flan-t5-small", device_map="auto",cache_dir="./.cache")

d:\Scripts\ExpenseTrackerLite\Python\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

In [16]:
input_text = f"""From given data : {data}
Find the follwing:
1) largest expense
2) smallest expense
3) total expense
4) Possible expenses that can be reduced

Always output in proper english format
"""
input_ids = tokenizer(input_text, return_tensors="pt").input_ids

In [17]:
outputs = model.generate(input_ids)

In [18]:
print(tokenizer.decode(outputs[0]))

<pad>[62 rows x 4 columns] Find the follwing: 1) largest expense 2) smallest

# using fb model

In [2]:
from transformers import pipeline

d:\Scripts\ExpenseTrackerLite\Python\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# from huggingface_hub import snapshot_download
# snapshot_download(repo_id="Falconsai/text_summarization",cache_dir="./.cache")

In [4]:
summarizer = pipeline("summarization", model="facebook/bart-large-cnn")

Device set to use cpu

In [5]:
import pandas as pd
data = pd.read_csv('C:/Users/omkar/OneDrive/Documents/Finances/2024/CSV/January-2024.csv')

In [9]:
ARTICLE = f"""
{data}
"""

In [11]:
op = summarizer(ARTICLE, min_length=100, do_sample=False)

In [12]:
op

[{'summary_text': 'Rent for a flat in 2024-01-01 is 7000. Pizza costs 456.0 euros per pizza. Ice-cream costs 365 euros per ice-cream. Medicine costs 570 euros per medicine. Travel costs 1328.0 Euros per travel. The cost of living in 2024 will be 7.7 billion dollars. The price of living will be 6.2 billion dollars in 2024. The amount of rent will be 7000 dollars per flat. It will be 1328 billion dollars for the whole of 2024.'}]

# Testing for month wise

In [1]:
from data_util import get_dfs

In [4]:
names,dfs=get_dfs("C:/Users/omkar/OneDrive/Documents/Finances/2024/CSV/")

In [7]:
dfs

{'January-2024.csv':           Date      Reason Category  Amount
 0   2024-01-01        Rent     Flat  7000.0
 1   2024-01-01       Pizza     Food   456.0
 2   2024-01-02    Service    Travel  1328.0
 3   2024-01-02   Medicine     Other   570.0
 4   2024-01-02      Dinner     Food   170.0
 ..         ...         ...      ...     ...
 57  2024-01-28  Ice-cream      Food   140.0
 58  2024-01-30      Lunch      Food   155.0
 59  2024-01-30       Lassi    Drink    50.0
 60  2024-01-31  ice-cream      Food   365.0
 61  2024-01-31       Lunch     Food   107.5

 [62 rows x 4 columns],
 'February-2024.csv':           Date             Reason Category   Amount
 0   2024-02-01               Rent     Flat   7000.0
 1   2024-02-01  Electricity bill      Flat    732.0
 2   2024-02-01              Lunch     Food    195.0
 3   2024-02-01              Lassi    Drink     50.0
 4   2024-02-02   Washing machine     Other  10249.0
 ..         ...                ...      ...      ...
 63  2024-02-28              Lunch     Food    120.0
 64  2024-02-28  strawberry Shake     Drink     70.0
 65  2024-02-29             Dinner     Food    427.0
 66  2024-02-29             Lunch      Food    130.0
 67  2024-02-29            Slushie    Drink     99.0

 [68 rows x 4 columns],
 'March-2024.csv':           Date            Reason Category  Amount
 0   2024-03-01              Rent     Flat  7000.0
 1   2024-03-01  Electricity Bill     Flat   720.0
 2   2024-03-01           Dinner      Food   665.0
 3   2024-03-01        Lunch Roll     Food   135.0
 4   2024-03-02    Groceries  - 1  Grocery  2234.0
 ..         ...               ...      ...     ...
 67  2024-03-27        Ice-cream      Food   295.0
 68  2024-03-28             Lunch     Food   336.0
 69  2024-03-28            dinner     Food   275.0
 70  2024-03-29    Aaba Aaji Food    Other  1023.0
 71  2024-03-31        Groceries   Grocery  1219.0

 [72 rows x 4 columns],
 'April-2024.csv':           Date            Reason Category  Amount
 0   2024-04-01              Rent     Flat  7000.0
 1   2024-04-01  Electricity Bill     Flat  1140.0
 2   2024-04-01             Lunch     Food   105.0
 3   2024-04-01            Dinner     Food    95.0
 4   2024-04-01             Juice    Drink    40.0
 ..         ...               ...      ...     ...
 70  2024-04-30            Dinner     Food   175.0
 71  2024-04-30             Lunch     Food    84.0
 72  2024-04-30             water    Drink    10.0
 73  2024-04-30            sorbet     Food   100.0
 74  2024-04-30     coke+icecream     Food   190.0

 [75 rows x 4 columns],
 'May-2024.csv':           Date            Reason Category  Amount
 0   2024-05-01              Rent     Flat  7000.0
 1   2024-05-01  Electricity Bill     Flat  1332.0
 2   2024-05-01        Groceries   Grocery   816.0
 3   2024-05-02            Dinner     Food   145.0
 4   2024-05-02  Double Egg Roll      Food    84.0
 ..         ...               ...      ...     ...
 75  2024-05-30     Chicken Toast     Food    69.0
 76  2024-05-31        Train home   Travel   719.0
 77  2024-05-31            Dinner     Food   514.0
 78  2024-05-31             Lunch     Food    57.5
 79  2024-05-31             Lassi    Drink    30.0

 [80 rows x 4 columns],
 'June-2024.csv':           Date             Reason Category  Amount
 0   2024-06-01               Rent     Flat  7000.0
 1   2024-06-01  Electricity bill      Flat  1296.0
 2   2024-06-01              froyo    Other   358.0
 3   2024-06-01               Wrap     Food   220.0
 4   2024-06-01              Shake    Drink   198.0
 ..         ...                ...      ...     ...
 61  2024-06-28              Shake    Drink   230.0
 62  2024-06-28               Pohe     Food    40.0
 63  2024-06-28            Orange     Drink    30.0
 64  2024-06-30            Journal    Other   393.0
 65  2024-06-30              Lunch     Food   383.0

 [66 rows x 4 columns],
 'July-2024.csv':           Date             Reason    Category  Amount
 0   2024-07-01               Rent        Flat    7000
 1   2024-07-01  Electricity Bill         Flat     996
 2   2024-07-01        Groceries 1     Grocery     690
 3   2024-07-01              Lunch        Food     455
 4   2024-07-02        Investment   Investment    1500
 ..         ...                ...         ...     ...
 69  2024-07-30             Shake        Drink      79
 70  2024-07-31             Dinner        Food     230
 71  2024-07-31     shake and mint     Grocery      70
 72  2024-07-31          Sandwich         Food      69
 73  2024-07-31             Khaman        Food      42

 [74 rows x 4 columns],
 'August-2024.csv':           Date             Reason Category  Amount
 0   2024-08-01               rent     Flat    7000
 1   2024-08-01  electricity Bill      Flat     732
 2   2024-08-01            Dinner      Food     406
 3   2024-08-01              lunch     Food      69
 4   2024-08-01         Breakfast      Food      52
 ..         ...                ...      ...     ...
 95  2024-08-31             Brunch     Food     325
 96  2024-08-31            Petrol    Travel     310
 97  2024-08-31             Coffee    Drink     187
 98  2024-08-31        Sarvad Gift    Other     200
 99  2024-08-31             Dinner     Food     308

 [100 rows x 4 columns],
 'September-2024.csv':           Date             Reason Category  Amount
 0   2024-09-01               Rent     Flat    7000
 1   2024-09-01  Electricity Bill      Flat    1452
 2   2024-09-01           Disc Pad   Travel     600
 3   2024-09-01             Dinner     Food     437
 4   2024-09-01              Maaza    Drink      45
 ..         ...                ...      ...     ...
 72  2024-09-27    Idli breakfast      Food      70
 73  2024-09-27        Iced coffee    Drink      70
 74  2024-09-29         Groceries   Grocery     729
 75  2024-09-30          Sandwich      Food      79
 76  2024-09-30    Chicken Dinner      Food     336

 [77 rows x 4 columns],
 'October-2024.csv':           Date             Reason Category  Amount
 0   2024-10-01               Rent     Flat    7000
 1   2024-10-01  electricity Bill      Flat     660
 2   2024-10-01   Hotstar 3 months    Other     300
 3   2024-10-01               Dosa     Food     110
 4   2024-10-01             sprite    Drink      40
 ..         ...                ...      ...     ...
 73  2024-10-30              Chaat     Food      50
 74  2024-10-30         Paper boat    Drink      20
 75  2024-10-31              Lunch     Food     140
 76  2024-10-31      Orange juice     Drink      40
 77  2024-10-31        Wrap Dinner     Food     289

 [78 rows x 4 columns],
 'November-2024.csv':           Date             Reason Category  Amount
 0   2024-11-01               Rent     Flat    7000
 1   2024-11-01  Electricity Bill      Flat     900
 2   2024-11-01   auto to station    Travel     272
 3   2024-11-01            Shampoo  Grocery     101
 4   2024-11-01             Ticket   Travel      25
 ..         ...                ...      ...     ...
 76  2024-11-29           Shwarma      Food     481
 77  2024-11-29              Lunch     Food     418
 78  2024-11-29             Watch      Food     314
 79  2024-11-30     Grocery fiinal  Grocery     776
 80  2024-11-30          Breakfast     Food     222

 [81 rows x 4 columns],
 'December-2024.csv':           Date             Reason    Category  Amount
 0   2024-12-01               Rent        Flat    7000
 1   2024-12-01  Electricity Bill         Flat     696
 2   2024-12-02                SIP  Investment    1500
 3   2024-12-02   Gold Investment   Investment    1000
 4   2024-12-02      Patu Earphone       Other     300
 ..         ...                ...         ...     ...
 64  2024-12-30  Bike Maintenance        Other     250
 65  2024-12-30         Idli Lunch        Food      70
 66  2024-12-31                Rum       Other    2700
 67  2024-12-31    Shawarma Dinner        Food     587
 68  2024-12-31          Shawarma         Food     130

 [69 rows x 4 columns]}