In [1]:
import os
from pathlib import Path

paths = sorted(Path('../CSV').iterdir(), key=os.path.getmtime)
paths

[WindowsPath('../CSV/January-2024.csv'),
 WindowsPath('../CSV/February-2024.csv'),
 WindowsPath('../CSV/March-2024.csv'),
 WindowsPath('../CSV/April-2024.csv')]

In [2]:
import pandas as pd

df = pd.read_csv(paths[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      62 non-null     object
 1   Reason    62 non-null     object
 2   Category  62 non-null     object
 3   Amount    62 non-null     float64
dtypes: float64(1), object(3)
memory usage: 2.1+ KB

# testing model

In [1]:
import pandas as pd
data = pd.read_csv('C:/Users/omkar/OneDrive/Documents/Finances/2024/CSV/January-2024.csv')

In [2]:
# from huggingface_hub import snapshot_download
# snapshot_download(repo_id="google/flan-t5-small",cache_dir="./.cache")

In [3]:
from transformers import T5Tokenizer, T5ForConditionalGeneration

tokenizer = T5Tokenizer.from_pretrained("google/flan-t5-small",cache_dir="./.cache")
model = T5ForConditionalGeneration.from_pretrained("google/flan-t5-small", device_map="auto",cache_dir="./.cache")

d:\Scripts\ExpenseTrackerLite\Python\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

In [16]:
input_text = f"""From given data : {data}
Find the follwing:
1) largest expense
2) smallest expense
3) total expense
4) Possible expenses that can be reduced

Always output in proper english format
"""
input_ids = tokenizer(input_text, return_tensors="pt").input_ids

In [17]:
outputs = model.generate(input_ids)

In [18]:
print(tokenizer.decode(outputs[0]))

<pad>[62 rows x 4 columns] Find the follwing: 1) largest expense 2) smallest

# using fb model

In [2]:
from transformers import pipeline

d:\Scripts\ExpenseTrackerLite\Python\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# from huggingface_hub import snapshot_download
# snapshot_download(repo_id="Falconsai/text_summarization",cache_dir="./.cache")

In [4]:
summarizer = pipeline("summarization", model="facebook/bart-large-cnn")

Device set to use cpu

In [5]:
import pandas as pd
data = pd.read_csv('C:/Users/omkar/OneDrive/Documents/Finances/2024/CSV/January-2024.csv')

In [9]:
ARTICLE = f"""
{data}
"""

In [11]:
op = summarizer(ARTICLE, min_length=100, do_sample=False)

In [12]:
op

[{'summary_text': 'Rent for a flat in 2024-01-01 is 7000. Pizza costs 456.0 euros per pizza. Ice-cream costs 365 euros per ice-cream. Medicine costs 570 euros per medicine. Travel costs 1328.0 Euros per travel. The cost of living in 2024 will be 7.7 billion dollars. The price of living will be 6.2 billion dollars in 2024. The amount of rent will be 7000 dollars per flat. It will be 1328 billion dollars for the whole of 2024.'}]

# Testing for month wise

In [16]:
from data_util import get_dfs
import pandas as pd

In [4]:
names,dfs=get_dfs("C:/Users/omkar/OneDrive/Documents/Finances/2024/CSV/")

In [19]:
months = []
totals = []
for i in dfs:
    months.append(i.split('.')[0])
    totals.append(sum(dfs[i]['Amount']))

pd.DataFrame({
    "Month":months,
    "Total":totals
})

             Month     Total
0     January-2024  26771.00
1    February-2024  34064.22
2       March-2024  31431.50
3       April-2024  39364.00
4         May-2024  29400.50
5        June-2024  27939.00
6        July-2024  32411.00
7      August-2024  35550.00
8   September-2024  33078.00
9     October-2024  38191.00
10   November-2024  33322.00
11   December-2024  36046.00

In [3]:
import os

if os.path.isfile('.env'):
    print("Exists")

In [5]:
from dotenv import load_dotenv
import os

load_dotenv('.env')

True

In [6]:
if 'test' in os.environ:
    print('yep')

yep